#map-1{
  width: 600px;
  height: 397.35px;
  border: 1px solid #fff;
  background-size: contain;
  background-repeat: no-repeat;
}

#map-2{
  width: 600px;
  height: 397.35px;
  border: 1px solid #fff;
  background-size: contain;
  background-repeat: no-repeat;
}

.mdi-map-container {
  padding-right: 0px;
  margin-right: 0px;
  display: inline-block;
}

.mdi-dungeon-level-list-container {
  padding: 0px;
  margin: 0px;
  display: inline-block;
}

.mdi-dundeon-level-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  display: inline;
}
